/*****section originall codeInigniter********/

::selection {
    background-color: #E13300;
    color: white;
}

::-moz-selection {
    background-color: #E13300;
    color: white;
}

body {
    background-color: #fff;
    /* margin: 40px; */
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body {
    margin: 0 15px 0 15px;
}

p.footer {
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container {
    margin: 10px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}


/*****fin section originall codeInigniter********/

@font-face {
    font-family: "forte";
    src: url("/fonts/forte.ttf") format("ttf");
}

nav {
    font-family: "forte";
    padding: 0;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    /* height: 48px; */
    ;
}

nav * {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

nav img {
    display: inline !important;
    width: 32px;
    height: 32px;
}

nav a img:hover,
li.dropdown.open img,
.active img {
    display: inline !important;
    width: 32px;
    height: 32px;
}

li.dropdown.open {
    /* background-color: black; */
    /* height: 55px !important; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* #container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
} */

.dropdown-menu img {
    display: inline !important;
    width: 24px!important;
    height: 24px!important;
}


/* nom pris en charge 

-fais par document.querySelector (en js)

#container:has(#body:has(#login-block)) {
    display: none !important;
    background-color: red!important;
}
 */

//elever les texte lorsque la barre n'est pas une collapse en mode ouverte
.collapse:not(.in) span {
    display: none;
}

.collapse.in .form-control {
    width: auto;
    display: inline;
}


/* 

login section

*/

#login-block {
    margin-top: -30px;
}

#login-block img {
    max-width: 100px;
}

#login-img-container {
    margin-bottom: -50px;
    text-align: right;
}

.forms-buttons {
    text-align: right;
}