#divOffres {
    background-color: black;
}

#divOffres .offres-offre,
#divUsers .users-user {
    /*display: inline-block;*/
    /* height: 28%;
width: 28%; */
    width: auto;
    height: 28%;
    border-radius: 5px;
    border: 1px solid #ACACAC;
    margin: 1%;
}

#divOffres .offres-offre:hover,
#divUsers .users-user:hover {
    display: inline-block;
    /* height: 28%;

border: 1px solid #ACACAC; */
    background-color: lightgray;
    color: black;
    /* margin: 1%;*/
    width: auto;
    box-shadow: 7px 7px 15px darkslategray;
}

#divOffres {
    width: 90%;
    height: 70vh;
    background-color: black;
    color: #ACACAC;
    overflow-y: auto;
}


/*#divOffres::before {
width: 100%;
height: 70vh;
background-color: rgb(32, 32, 32);
color: gray;
content:'Offres :'
display:block;
}*/

#divOffres>div {}

#title {
    color: white;
}

.offres-offre-title {
    font-size: 14px;
    text-align: center;
}

@media print {
    #divOffres .offres-offre {
        display: block;
    }
}

@media screen {
    #divOffres .offres-offre {
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    #divOffres .offres-offre {
        display: block;
        height: 98%;
        width: 98%;
    }
}

#divOffres .offres-offre button {
    width: 100%;
}

#divOffre button {
    width: auto;
}


/* 

LOGIN SECTION

*/

#divLogin,
#divInscription {
    /* border: 1px solid black; */
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    /* height: 80vh; */
    background-color: lightgray;
    box-shadow: 6px 20px 25px gray;
    border-radius: 6px;
    padding: 10px;
}

#login-image {
    text-align: center;
}

#divLogin img,
#divInscription img {
    max-width: 128px;
    max-height: 128px;
    size: auto;
}


/* 







*/

.widget-badge:hover {
    background-color: #ABABAB;
    box-shadow: 10px 10px 25px BLACK;
}

.widget-badge {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 5px;
    width: 23.5%;
    margin-left: 1%;
    margin-top: 1%;
}

#services .service {
    display: block;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 5px;
    width: 75%;
    margin-left: 5%;
    margin-top: 5%;
}

#service label {
    color: darkslategray;
}

#service {
    text-align: center;
}

#service>*,
.widget-badge>* {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
}

#service>div {
    /* width: 60%; */
}

#service>img,
.widget-badge>img {
    max-width: 250px;
    max-height: 250px;
    size: auto;
}

#services {
    display: inline-block;
    height: 100%;
    /* border: 1px solid black; */
    width: 100%;
    margin: 0 2% 0 0;
    overflow-y: auto;
}

#consommer {
    display: none;
    float: right;
    width: 17.5%;
    border: 1px solid black;
}

.badge {
    background-color: white;
    border: 1px solid grey;
    border-radius: 8px;
}

#offre>* {
    display: inline-block;
}

#offre>div {
    max-width: 80%;
}

#offre>img {
    max-width: 128px;
    max-height: 128px;
    size: auto;
    vertical-align: top;
}